
body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #e0e0e0;
}


.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.bg > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#bubble {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  max-width: 800px;
  max-height: 800px;;
  transform: translateY(-50%);
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 2;
}