
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-color: #e0e0e0;
}


.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://unsplash.com/photos/pbuMoKhf07U/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Nnx8aG9yaXpvbnxqYXwwfHx8fDE2NzgwMjYxODI&force=true&w=2400');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* filter: grayscale(70%) blur(3px); */
}
#bubble {
  position: fixed;
  width: 100%;
  /* max-width: 1000px; */
  /* transform: translateY(-50%); */
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}